/*
 * Styling for CardListItem.js
 * Spring 2019
 */

 .ant-card {
   /*max-width: 500px;*/
   margin-top: 16px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.ant-card-actions {
  border-radius: 0px 0px 10px 10px;
}
