@font-face {
    font-family: brown-bold;
    src: url(../fonts/Brown/Brown-Bold.otf);
}

@font-face {
    font-family: brown-regular;
    src: url(../fonts/Brown/Brown-Regular.otf);
}
.ant-table-thead {
    font-size: 3vw;

}
.ant-table {
    font-size: 3vw;
}
@media screen and (min-width: 900px) {
  .ant-table-thead {
     font-size: 25px;
  }
  .ant-table {
    font-size: 20px;
}
}
.cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item {
    margin: 6px;
}

.formatted {
    margin-right: 20px;
}
.middle{
    display: flex;
    height: 50px;
/*    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;*/
    border: 0px solid;
    box-shadow: 3px 0.1px #cccccc;
    background: white;
}
.child {
    /*background-color: red;*/
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 30px;
    border: 0px solid;
    box-shadow: 3px 0.1px #cccccc;
    /*background: red;*/
}
nav {
    width: 100%;
    position: relative;

}

/*.joyride {
    display: flex;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border: 0px solid;
    box-shadow: 3px 0.1px #cccccc;
    background: black;
}*/
.bottom{
    padding-top: 36px;
    padding-bottom: 30px;
    padding-right: 3vw;
    padding-left: 3vw;
    position: relative;
}

.generateNewNote{
    font-family: brown-bold;
    font-size: 14px;
}

